* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-gallery{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 8%;
    
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.gallery img {
    width: 100%;
    border-radius: 15px;
}
