   .prd-detailshead {
       margin: 0px 0px;
   }

   .Productdisplay-left {
       flex: 1;
   }

   .Productdisplay-imglist {
       display: flex;
       gap: 20px;
   }


   .Productdisplay-imglist img {
       height: 160px;
       width: 110px;
       border: 3px solid white;
   }

   .Productdisplay-mainimg {
       height: 500px;
       width: 300px;
   }

   .Productdisplay-right {
       flex: 1;
       display: flex;
       margin: 0px 20px;
       flex-direction: column;
   }

   .product-name h1 {
       color: #3d3d3d;
       font-size: 40px;
       font-weight: 700;
   }

   .Productdisplay-right-star {
       display: flex;
       align-items: center;
       margin-top: 13px;
       gap: 5px;
       color: #1c1c1c;
       font-size: 16px;
   }

   .Productdisplay-right-star i {
       color: #FFD700;
   }

   .prices {
       display: flex;
       margin: 10px 0px;
       gap: 30px;
       font-size: 24px;
       font-weight: 700px;
   }

   .old_pric {
       color: #818181;
       text-decoration: line-through;
   }

   .new_price {
       color: #ff4141;
   }

   .product_display-rightsize {
       display: flex;
       flex-direction: column;
   }

   .product_display-rightsize h1 {
       margin-top: 20px;
       color: #656565;
       font-size: 20px;
       font-weight: 600;
   }

   .product_display-rightsize-sub {
       display: flex;
       margin: 0px 0px;
       gap: 20px;
   }

   .product_display-rightsize-sub div,
   .product_display-rightsize-size div {
       border: 1px solid #ebebeb;
       padding: 12px 18px;
       background: #fbfbfb;
       border-radius: 3px;
       cursor: pointer;
   }

   .product_display-rightsize-size {
       display: flex;
       flex-direction: column;
       margin: 0px 0px;
       gap: 10px;
   }

   .add-to-cart button {
       padding: 20px 40px;
       width: 200px;
       font-size: 16px;
       font-weight: 600;
       color: white;
       background: #262626;
       margin: 10px 0px;
       border: none;
       outline: none;
       cursor: pointer;
       margin-top: 33px;
   }

   .product-right-category span {
       font-weight: 600;
   }

   .Productdisplay-imglist img:hover {
       border: solid navy;
   }

   .productSection-inner {
       display: flex;
       gap: 30px;
   }

   .productFeatures {
       list-style-type: circle;
   }

   .productDetails {
       margin-top: 70px;
   }

   .producSlidermain-productDetails {
       position: relative;
       height: 100%;
       padding: 0px 50px 70px 50px;
   }

   .product-description {
       margin-top: 50px !important;
   }

   .swiper-pagination {
       color: white !important;
       /* Change the color to white */
   }

   @media only screen and (max-width:1227px) {}

   @media only screen and (max-width:900px) {
       .productSection-inner {
           gap: 80px;
       }
   }


   @media only screen and (max-width:533px) {
       /* .Productdisplay-left {
           flex-direction: column-reverse;
       } */

       .Productdisplay-imglist {
           display: flex;
           flex-direction: row;
           align-items: center;
           gap: 10.2px;
       }

       .Productdisplay-img {
           display: flex;
           flex-direction: column;
           align-items: center;
       }
   }


   @media only screen and (max-width:416px) {
       .productSection-inner {
           gap: 15px;
       }
   }