@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

body {
    font-size: 14px !important;
    font-weight: 400 !important;
    background-color: #cbcaca !important;
    margin: 0;
    padding: 0;
    line-height: 24px !important;
}



.bannercnt-mob {
    position: absolute;
    top: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 100%;
}

.nav-logo {
    width: 170px;
}

.navsetction {
    color: white !important;
}

.header-top {
    background-color: #262626;
    color: white;

}

.icons-social {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.icons-social:hover {
    transform: scale(1.3);
}



.socialmedia-icon i {
    font-size: 18px;
    transition: all 0.5s;
    opacity: 0.5;
}

.socialmedia-icon-instagram i {
    font-size: 18px;
    color: #833AB4;
    transition: all 0.5s;
    opacity: 0.5;
}

.socialmedia-icon-whatsapp i {
    font-size: 18px;
    color: #25D366;
    transition: all 0.5s;
    opacity: 0.5;
}

.socialmedia-icon-facebook i:hover {
    opacity: 1;
    transition: font-size 0.2s;
}

.socialmedia-icon-whatsapp i:hover {
    opacity: 1;
    transition: font-size 0.2s;
}

.socialmedia-icon-instagram i:hover {
    opacity: 1;
    transition: font-size 0.2s;
}

.socialmedia-icon-facebook {
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: rgb(126, 120, 120);
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}


.socialmedia-icon-whatsapp {
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: rgb(126, 120, 120);
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialmedia-icon-instagram {
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: rgb(126, 120, 120);
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-indicators {
    list-style-type: none;
    gap: 15px !important;
    bottom: 140px !important;
}

.carousel-indicators li {
    width: 18px !important;
    height: 18px !important;
    border-radius: 50%;
}

.banner-btn button {
    padding: 10px 20px;
    background: transparent;
    border: 2px solid #262626;
    color: #262626;
}

.banner-btn button:hover {
    background-color: rgb(227, 216, 216);
    color: black;
    cursor: pointer;
    transition: all 0.5s;

}

.banner-section {
    position: relative;
}

.banner-content {
    position: absolute;
    top: 20%;
    left: 10%;
    color: white;
    width: 40%;
    text-align: center;
}

.banner-content h2 {
    font-weight: 700;
    font-size: 52px;
    color: #262626;
}

.banner-content p {
    font-size: 16px;
    color: #262626 !important;
}

.producdescription {
    display: flex !important;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}


.producdescription img {
    max-width: 50%;
    height: auto;
}



.producdescription p {

    margin: 0 20px;
    /* Adjust spacing */
}

.swiper {
    width: 60% !important;
    background-color: white;
    position: absolute;
    bottom: 100px;
}

.swipertop {
    width: 60% !important;
    background-color: white;
    position: absolute;
    bottom: 100px;
}

.carouselImages {
    padding: 50px;
}


.swiper-pagination .swiper-pagination-bullet {
    background-color: black;
}

.media-service-2 {
    position: relative;
    background: #fff;
    width: 240px;
    height: 240px;
    margin-right: 25px;
    margin-bottom: 40px;
    text-align: center;
}

.features-img {
    width: 120px;
    height: 100px;

}

.features-section {
    background-color: #262626;
    padding: 70px 0px;
}

.features-main-child {
    color: white;
    background-color: #494646;
    padding: 20px;
    cursor: pointer;
}

.features-main-child img {
    max-width: 100%;
    height: auto;
    /* To maintain aspect ratio */
}

/* Ensure equal height cards */
.features-main-child {
    grid-row: span 2;
    /* Each card spans two grid rows */
}

.features-main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
}

.features-main-child h4 {
    margin-top: 10px;
}

.features-main-child {
    text-align: center;
}


.product-sections-main {
    margin: 50px 0px;
}

.product-sections {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.product-sections-head h1 {
    color: #4f3327;
}

.product-end {
    background-color: #262626;
    color: white;
    display: flex;
    padding: 30px 50px;
    align-items: center;
}

.product-end-img img {
    width: 100%;
}

.product-end-cnt {
    width: 50%;
}

.card:hover .card-img-top {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.card {
    cursor: pointer;
}

.testimonial-slide {
    text-align: center;
}

.producdescription i {
    font-size: 30px;
}



.container-testi {

    display: flex;
    justify-content: center;

}

.testi-main {
    background-color: white;
    padding: 50px 0px;
}

.testimonial {
    position: relative;
    max-width: 900px;
    width: 100%;
    padding: 50px 0;
    overflow: hidden;
}

.testimonial .image {
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
}

.testimonial .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
    height: 100%;
    width: 100%;
}

.slide p {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #ececec;
}

.slide .quote-icon {
    font-size: 30px;
    color: #4070f4;
}

.slide .details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details .name {
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

.details .job {
    font-size: 12px;
    font-weight: 400;
    color: #333;
}

/* swiper button css */
.nav-btn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transform: translateY(30px);
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.2s;
}

.nav-btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.nav-btn::after,
.nav-btn::before {
    font-size: 20px;
    color: #fff;
}

.swiper-pagination-bullet {
    background-color: rgba(0, 0, 0, 0.8);
}

.swiper-pagination-bullet-active {
    background-color: #4070f4;
}

.socialmdia-icons {
    display: flex;
    gap: 20px;
    margin: 0;
    list-style-type: none;
}

.slide {
    padding-right: 0px !important;
}

.footer-menu {
    cursor: pointer;
    margin-bottom: 5px;
    position: relative;
    /* Center text */
}





.footer-menu:hover::after {
    background-color: rgb(243, 229, 229);
}



.main-cnt {
    margin-top: -27px !important;
}


.footer-main {
    padding: 70px 0px 0px 20px;
    background-color: black;
    color: white;
}

.footer-cpyrgt {
    position: relative;
}



.footer-subhead::after {
    content: "";
    display: block;
    width: 100%;
    margin: 0 auto;
    border-bottom: 2px solid white;
    /* Center the border horizontally */
    margin-bottom: 10px;
}


.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-heading {
    position: relative;
    font-size: 18px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    text-align: start;
}

.footer-heading::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 2px;
    background-color: rgba(255, 255, 255);
}

.ftr-menu {
    margin-left: 19px;
}

.pro-img {
    width: 100%;
    height: 500px;
    object-fit: contain;
}

.social-media {
    display: flex;
    justify-content: end;
    gap: 20px;
}

.contact-details {
    display: flex;
    gap: 20px;
}

.btn-enq {
    background-color: #494646;
}

.btn-enq:hover {
    background-color: #524e4e;
    cursor: pointer;
}



.img-x-slider {
    cursor: pointer;
}

.main-cnt-mob {
    position: relative;
    padding: 0px 10px 10px;
}

.footer-sntmain {
    padding: 50px 50px 0px 50px;
    background-color: #262626;
}

.footer-subhead {
    position: relative;
}




.newaLetter-input {
    padding: 10px 20px;
    border: 1px solid rgba(155, 143, 143, 0.5);
}

.newaLetter-input input {
    background-color: transparent;
    color: white;
}

.ftr-btn {
    width: 60px;
    padding: 12px 0px !important;
}

.footer-section {
    background-color: #262626;
    color: white;
    padding: 70px 50px 20px;
    overflow: hidden;
}

.banner-product {
    width: 100%;
}

.innerpage-cnt {
    position: absolute;
    top: 50%;
    left: 40%;
}

.mainProduct-section {
    row-gap: 30px;
}


.input-spy {
    position: relative;
    width: 350px;
    margin: 0 auto;

}

/* Style the select element */
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;
    /* Remove default arrow in Firefox */
    -webkit-appearance: none;
    /* Remove default arrow in Chrome and Safari */
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
    outline: 0;
}

/* Style the arrow icon */
.input-spy::after {
    content: '\25BC';
    /* Unicode character for down arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    /* Make the icon unclickable */
}

/* Style the options */
select option {
    padding: 10px;
    background-color: #fff;
    color: #333;
}

/* Style the hover effect on options */


.submit-delers {
    width: 300px;
    padding: 10px;
    border-radius: 7px;
    background-color: #262626;
    color: white;
}

.dlrs-cnt {
    margin: 60px 0px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    gap: 50px;
    justify-content: center;
}

.form-img img {
    width: 100%;
    height: 500px;
}

.form-imgService img {
    width: 100%;
    height: 657px;
}

.dropdown-item:hover {
    background-color: #262626 !important;
    color: white !important;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;
    /* Remove default arrow in Firefox */
    -webkit-appearance: none;
    /* Remove default arrow in Chrome and Safari */
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
    outline: 0;
}

.input-sp {
    position: relative;
    width: 350px;
    margin: 0 auto;

}

/* About us */
.abtus-main {
    color: black;
    padding: 70px 0px;
}



.about-img {
    width: 70% !important;

}

.abt-us {
    font-size: 38px;
    font-weight: 700;
}

.abt-us-mob {
    font-size: 38px;
    font-weight: 700;
    text-align: center;
}

.about-imgsection {
    background-image: url('../assets/images/330x1496.webp');
    background-size: cover;
    background-position: center;
    width: 100%;
    /* Ensure the element spans the full width */
    height: auto;
    /* Maintain aspect ratio */
    gap: 50px;
    display: flex;
    justify-content: center;
    padding: 80px 0px;
    flex-wrap: wrap;
}

.abt-icons {
    width: 80px;
}

.about-swiper {
    width: 50%;
    margin: 0px 10px;
}

.testiabout-main {
    padding: 50px 0px;
}

.meetourTeam-main {
    background-color: white;
    padding: 70px 0px;
}



.meetourTeamcard {
    width: 200px;
}

.meetourTeamcard img {
    border-radius: 50%;
}

.aboutUsswiper {
    margin: 0px 10px;
}

.producSlidermain {
    position: relative;
    height: 100%;
    padding: 70px 50px 70px 50px;
}

.mySwiperprosection {
    width: 100%;
    height: 100%;
}

.cardDcnt {
    position: absolute;
    bottom: 0px;
    color: white;
    width: 300px;
    background-color: rgba(38, 38, 38, 0.6);
}

.ourSignatureDoors {
    max-width: 100%;
    text-align: center;
    font-size: 18px;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ourSignatureDoors img {
    display: block;
    width: 300px !important;
    height: 500px !important;
}

.ourSignatureDoors h2 {
    display: none;
}

.ourSignatureDoors:hover h2 {
    display: block;
}

.homeDoorprosection {
    position: relative;
    height: 100%;
    padding: 0px 50px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
    color: white !important;
    background-color: #262626;
    padding: 25px;
    border-radius: 50%;
}

.swiper-button-prev::after {
    font-size: 25px !important;
}

.swiper-button-next::after {
    font-size: 25px !important;
}

@media only screen and (min-width:1600px) {
    .banner-content {
        position: absolute;
        top: 25%;
        left: 10%;
        width: 40%;
    }
}




@media only screen and (max-width:1271px) {
    .banner-content {
        position: absolute;
        top: 10%;
        left: 8%;
        width: 50%;
    }

    .banner-content h2 {
        font-size: 38px;
    }
}


@media only screen and (max-width:1235px) {
    .product-end-img img {
        width: 70%;
    }

    .product-end-cnt {
        width: 60%;
    }

    .product-end-img {
        text-align: center;
    }
}

@media only screen and (max-width:1150px) {
    .features-main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
}

@media only screen and (max-width:1050px) {
    .carouselImages {
        padding: 25px;
    }

    .producdescription {
        padding-right: 25px;
    }

    .swiper-pagination {
        margin-top: 20px;
    }

    .swiper {
        display: none !important;
    }

    .carousel-indicators {
        bottom: 40px !important;
    }

    .product-end {
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
    }

    .product-end-cnt {
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width:1000px) {
    .features-main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .dlrs-cnt {
        width: 90%;
    }
}

@media only screen and (max-width:992px) {
    .mobhide {
        display: none;
    }

    .footer-subhead::after {
        margin-top: 30px;
    }
}

@media only screen and (min-width:992px) {
    .mob-ftr-cnt {
        display: none;
    }
}

@media only screen and (max-width:950px) {

    .carousel-indicators {
        bottom: 40px !important;
    }

}

@media only screen and (min-width:768px) {
    .abt-us-mob {
        display: none;
    }
}

@media only screen and (max-width:768px) {
    .dlrs-cnt {
        flex-direction: column;
    }

    .abt-us {
        display: none;
    }

    .abtus-main {
        flex-direction: column-reverse;
    }

    .banner-content {
        position: absolute;
        top: 10%;
        left: 10%;
        width: 70%;

    }

    .main-cnt-mobb::after {
        display: none;
    }

    .carousel-indicators {
        bottom: 10px !important;
        margin-bottom: 0px !important;
    }

    .features-main {
        grid-template-columns: repeat(2, 1fr);
    }

    .slide p {
        padding: 0 20px;
    }

    .nav-btn {
        display: none;
    }

    .about-swiper {
        width: 100%;
    }


}


@media (max-width: 605px) {
    .social-media {
        display: none;
    }

    .contact-details {
        justify-content: space-between;
    }
}


@media (max-width: 600px) {
    .banner-product {
        display: none;
    }

    .innerpage-cnt {
        top: 20%;
    }

    .form-img img {
        height: 300px;
    }

    .form-imgService img {
        height: 300px;
    }
}


@media (min-width: 600px) {
    .banner-productImg {
        display: none;
    }
}



@media (min-width:585px) {
    .bannercnt-mob {
        display: none;
    }

}

@media only screen and (max-width:585px) {
    .main-cnt-mob::after {
        display: none;
    }

    .title-1 {
        line-height: 28px !important;
        font-size: 30px !important;
        margin-bottom: 10px;
    }

    .footer-social {
        flex-direction: column;
    }

    .footer-section {
        padding: 50px 20px 20px;
    }

    .footer-heading {
        text-align: center;
    }

    .banner-content {
        display: none;
    }

    .abt-us {
        font-size: 28px;
        font-weight: 700;
    }

    .abt-us-mob {
        font-size: 28px;
        font-weight: 700;
    }
}

@media (max-width: 480px) {

    .footer-sntmain {
        padding: 30px 30px 0px 30px;
        background-color: #262626;
    }

    .innerpage-cnt {
        left: 30%;
    }

    .product-end {
        padding: 30px;
    }

    .homeDoorprosection {
        position: relative;
        padding: 20px 10px 70px 10px;
    }


}

@media only screen and (max-width:469px) {

    .carousel-indicators li {
        width: 13px !important;
        height: 13px !important;
        border-radius: 50%;
    }

    .card {
        width: 18rem !important;
    }

    .meetourTeamcard {
        width: 140px !important;
    }
}

@media only screen and (max-width:460px) {
    .lap-view {
        display: none;
    }

    .input-spy {
        width: 300px;
    }

    .input-sp {
        width: 300px;
    }

    .dlrs-cnt {
        padding: 15px;

    }
}

@media only screen and (min-width:460px) {
    .mob-view {
        display: none;
    }
}

@media only screen and (max-width:390px) {
    .header-section {
        flex-direction: column;
        row-gap: 15px;
    }

    .input-spy {
        width: 250px;
    }

    .input-sp {
        width: 250px;
    }

    .testimonial {
        margin-top: 0;
        padding-top: 0px;
    }

    .product-end-img img {
        width: 290px;
        margin-right: 15px;
    }

    .features-img {
        height: 60px;
        width: 60px;
    }

    .features-main-child {
        padding: 10px;
        display: block;
        align-items: center;
    }

    .features-main {
        gap: 10px;

    }

    .product-end-cnt {
        text-align: start;
    }
}

.footer-logo {
    width: 250px
}