{% extends 'Dashboard/base.html' %}
{% load static %}

{% block page %} 
    <li class="breadcrumb-item active" aria-current="page">Add Client</li>
{% endblock page %}

{% block content %}

<!-- BEGIN: Notification -->
{% if messages %}
    {% for message in messages %}
        <div class="intro-y col-span-11 alert alert-{{ message.tags }} alert-dismissible show flex items-center mb-6 mt-5 text-white" role="alert">
            <span><i data-lucide="info" class="w-4 h-4 mr-2"></i></span>
            <span>{{ message }}</span>
            <button type="button" class="btn-close text-white" data-tw-dismiss="alert" aria-label="Close"> <i data-lucide="x" class="w-4 h-4"></i> </button>
        </div>
    {% endfor %}
{% endif %}
<!-- BEGIN: Notification -->
<div class="content">
    <div class="intro-y box py-10 sm:py-10 mt-5">

        <h2 class="text-primary text-center font-medium" style=" font-size: 30px;">Add Client</h2>
        
        <div class="px-3 sm:px-10 mt-10 pt-10 border-t border-slate-200/60 dark:border-darkmode-400">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5"> 
                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Name</label>
                        <input name="name" type="text" class="form-control" placeholder="Enter Client Name Here" required maxlength="100">
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Client ID</label>
                        <input name="client_id" value="{{client_id}}" type="text" class="form-control" readonly maxlength="25">
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Mobile</label>
                        <input name="mobile" type="text" class="form-control" placeholder="Enter Client Mobile Number Here" required maxlength="15">
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Email</label>
                        <input name="email" type="email" class="form-control" placeholder="Enter Client Email Address Here">
                    </div>

                    <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5">
                        <button class="btn btn-primary w-24 ml-2" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

{% endblock content %}