{% extends 'Frontpage/base.html' %}
{% load static %}
{% block content %}

<style>
    .about{
      background-image: none;
    }
</style>

<!-- Page Header Start here -->
{% comment %} <section class="page-header section-notch">
    <div class="overlay">
        <div class="container">
            <h3>About Us</h3>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li>-</li>
                <li>About us</li>
            </ul>
        </div>
    </div>
</section> {% endcomment %}
<!-- Page Header End here -->

<!-- About Start here -->
<section class="inner-contents">
  <div class=" position-relative">
      <div class="banner-img ">
          <img class="banner-product" src="{%static 'assets/images/330x1496.webp' %}" alt="">
          <img class="banner-productImg" src="{%static 'assets/images/476x300.webp' %}" alt="">
      </div>
      <div class="innerpage-cnt text-center m-b-70">
          <h5 class="title-sub text-black">PETRA STEEL DOORS</h5>
          <h2 class="title-1">About us</h2>
      </div>
  </div>
</section>

<section class="container ">
  <div class="row abtus-main">
      <div class=" col-md-6 col-lg-7 mt-5 ">
          <h3 class="abt-us">ABOUT PETRA</h3>
          <P class="mt-4">
              Petra premium steel doors are the India’s leading manufacturer of premium steel doors with have
              ISO certified for superior standard and customer service IAF. We are specialised in Galvanised
              iron doors with various models and solutions with frame. Our elegant designs makes your entrance
              more beautiful and you can also personalise your doors look with high quality security service.
              We have weather resistance in all climate and also we are environmental friendly . Petra steel
              door ensuring your safety including the fire resistance. Completely protection against fire and
              flammable materials . The doors offer unmatched strength and security for your home along with
              long last protection. Every single products from petra steel doors are crafted with durability
              and highly skilled craftsman’s are behind on our single designs. There is no compromise on
              quality and finishing. We are moving with thousands of satisfied customers. Comparing to others
              we have low maintenance on our steel doors and cost effective product for all customers. Trust
              is the main motive we are following by the beginning. Thats why petra standing in top positions
              of steel door brands


          </P>
      </div>
      <div class="col-md-6 col-lg-5 ">
          <h3 class="abt-us-mob mb-4 ">ABOUT PETRA</h3>
          <div class="d-flex  justify-content-center justify-content-md-end">
              <img class="about-img" src="{%static 'assets/doors/PTR 66.webp' %}" alt="">
          </div>
      </div>

  </div>
</section>
<div class="about-imgsection">

  <div class="card" style="width: 28rem;">
      <div class="card-body p-3 p-md-5">
          <div class="text-center ">
              <img class="abt-icons" src="{%static 'assets/icons/mission.png' %}" alt="">
          </div>
          <h5 class="card-title text-center mt-4">Mission</h5>
          <p class="card-text">We provide life cycle power solutions to enhance the experience of our customer
              whilst creating better technologies that benefit both the customer and environ- ment.</p>
      </div>
  </div>
  <div class="card" style="width: 28rem;">
      <div class="card-body p-3 p-md-5">
          <div class="text-center ">
              <img class="abt-icons" src="{%static 'assets/icons/shared-vision.png' %}" alt="">
          </div>
          <h5 class="card-title text-center mt-4">Vision</h5>
          <p class="card-text">To provide unconditional satisfaction to the customers through best qualitative
              products & supportive customer care to constantly upgrade the products through advance- ment of
              latest technology & to accomplish the best quality at minimum cost .</p>
      </div>
  </div>

  <div class=" card" style="width: 28rem;">
      <div class="card-body p-3 p-md-5">
          <div class="text-center ">
              <img class="abt-icons" src="{%static 'assets/icons/values.png' %}" alt="">
          </div>
          <h5 class="card-title text-center mt-4">Values</h5>
          <p class="card-text">We own a culture of continuous improve- ment that constantly drives excellence
              providing quality, performance, reliability and value to our clients.
              Innovation is breaking away from tradition.</p>
      </div>
  </div>

</div>
<section class="testiabout-main ">
  <div class="text-center ">
      <h5 class="title-sub">PETRA STEEL DOORS</h5>
      <h2 class="title-1">Discover What Makes Petra Diffrent</h2>
  </div>
  <div class="container-testi">
      <div class="testimonial aboutUsswiper">
          <div class="testi-content swiper-wrapper">

              <div class="slide swiper-slide">
                  <h5>Inspiring Design</h5>
                  <p class="text-black about-swiper">
                      Petra has unique designs. It makes your space more vibrant and comfortable. Our designs
                      are beyond your imagination, fulfilling your imagination.
                  </p>
                  <i class="fa-solid fa-quote-left text"></i>
                  <div class="details">
                      <span class="name">THE BEST IN WARRANTY</span>
                  </div>
              </div>
              <div class="slide swiper-slide">
                  <h5>Smart security </h5>
                  <p class="text-black about-swiper ">
                      Security is the motive from our ends, which is why Petra has more safety measures,
                      including multi-locking technologies and solid strength
                  </p>
                  <i class="fa-solid fa-quote-left text"></i>
                  <div class="details">
                      <span class="name">THE BEST IN WARRANTY</span>
                  </div>
              </div>
              <div class="slide swiper-slide ">
                  <h5>
                      Affordable armour
                  </h5>
                  <p class="text-black about-swiper ">
                      Compared to others, we assure more affordability. Our frame with door installation will
                      reduce cost and time consumption
                  </p>
                  <i class="fa-solid fa-quote-left text"></i>
                  <div class="details">
                      <span class="name">THE BEST IN WARRANTY</span>
                  </div>
              </div>
          </div>

          <div class="swiper-button-next nav-btn"></div>
          <div class="swiper-button-prev nav-btn"></div>

          <div class="swiper-pagination"></div>
      </div>
  </div>
</section>

<section class="meetourTeam-main">
  <div class="text-center ">
      <h5 class="title-sub">PETRA STEEL DOORS</h5>
      <h2 class="title-1">Meet Our Team</h2>
  </div>

  <div class="meetourTeam d-flex flex-column justify-content-center align-items-center  row-gap-5 mt-5">

      <div class=" d-flex flex-wrap justify-content-center gap-5">
          <div class="d-flex gap-5">
              <div class="card meetourTeamcard border-0">
                  <img src="{%static 'assets/teamMembers/faizal.jpg' %}" alt="Card image cap">
                  <div class="card-body text-center">
                      <h5 class="card-title">Faisal TP</h5>
                      <p class="small">CHAIRMAN</p>
                  </div>
              </div>
              <div class="card meetourTeamcard border-0">
                  <img src="{%static 'assets/teamMembers/safwan.jpg' %}" alt="Card image cap">
                  <div class="card-body text-center">
                      <h5 class="card-title">Muhammed Safwan</h5>
                      <p class="small">CEO</p>
                  </div>
              </div>
          </div>

          <div class="d-flex gap-5">
              <div class="card meetourTeamcard border-0">
                  <img src="{%static 'assets/teamMembers/jiyas.jpg' %}" alt="Card image cap">
                  <div class="card-body text-center">
                      <h5 class="card-title">Muhammed Jiyas TVP</h5>
                      <p class="small">DIRECTOR-MARKETING</p>
                  </div>
              </div>
              <div class="card meetourTeamcard border-0">
                  <img src="{%static 'assets/teamMembers/santhosh.jpg' %}" alt="Card image cap">
                  <div class="card-body text-center">
                      <h5 class="card-title">Santhosh Kumar</h5>
                      <p class="small">DIRECTOR-MARKETING</p>
                  </div>
              </div>
          </div>
      </div>


      <div class=" d-flex flex-wrap justify-content-center gap-5">
          <div class="d-flex gap-5">
              <div class="card meetourTeamcard border-0">
                  <img src="{%static 'assets/teamMembers/shafi.jpg' %}" alt="Card image cap">
                  <div class="card-body text-center">
                      <h5 class="card-title">Muhammed Shafi</h5>
                      <p class="small">DIRECTOR-OPARATIONS</p>
                  </div>
              </div>
              <div class="card meetourTeamcard border-0">
                  <img src="{%static 'assets/teamMembers/sageer.jpg' %}" alt="Card image cap">
                  <div class="card-body text-center">
                      <h5 class="card-title">Sageer Nelukandathil</h5>
                      <p class="small">DIGITAL STRATEGIST</p>
                  </div>
              </div>
          </div>

          <div class="d-flex gap-5">
              <div class="card meetourTeamcard border-0">
                  <img src="{%static 'assets/teamMembers/anas.jpg' %}" alt="Card image cap">
                  <div class="card-body text-center">
                      <h5 class="card-title">Anas Mudo</h5>
                      <p class="small">E-COMMERCE CONSULTANT</p>
                  </div>
              </div>

              <div class="card meetourTeamcard border-0">
                  <img src="{% static 'assets/teamMembers/sabeeh.jpg' %}" alt="Card image cap">
                  <div class="card-body text-center">
                      <h5 class="card-title text-nowrap ">Sabeeh Abdul <br> Kareem</h5>
                      <p class="small text-nowrap  ">BRAND MANAGEMENT<br>CONSULTANT</p>
                  </div>
              </div>
          </div>
      </div>

  </div>
</section>
<!-- About End here -->





{% endblock content %}