{% extends 'Frontpage/base.html' %}
{% load static %}
{% block content %}

<style>
    .alert {
        background: #84cc16;
    }
</style> 

<link rel="stylesheet" href="{% static 'dashboard/frontpage/css/dealer.css' %}" />

 <!-- BEGIN: Notification -->
 {% if messages %}
 {% for message in messages %}
     <div class="intro-y col-span-11 alert alert-{{ message.tags }} alert-dismissible show flex items-center mb-6 mt-5 text-white" role="alert">
         <span><i data-lucide="info" class="w-4 h-4 mr-2"></i></span>
         <span>{{ message }}</span>
     </div>
 {% endfor %}
 {% endif %}
 <!-- BEGIN: Notification -->

<section class="inner-contents">
    <div class=" position-relative">
        <div class="banner-img ">
            <img class="banner-product" src="{% static 'assets/images/330x1496.webp' %}" alt="">
            <img class="banner-productImg" src="{% static 'assets/images/476x300.webp' %}" alt="">
        </div>
        <div class="innerpage-cnt text-center m-b-70">
            <h5 class="title-sub text-black">PETRA STEEL DOORS</h5>
            <h2 class="title-1">Dealears</h2>
        </div>
    </div>
</section>

<section class=" d-flex flex-column align-items-center row-gap-5">
    <div class="dlrs-cnt">
        <div class="form-imgService">
            <img src="{% static 'assets/images/460x560-01.webp' %}" alt="">
        </div>
        <div class="d-flex flex-column row-gap-4 pt-4 ">
            <div class="text-center py-sm-2">
                <h2 class="title-1">Become a Dealers</h2>
                <h5 style="font-size:13px;" class="text-black pt-2 ">
              Here is the right step to start your new business <br> And thankyou choosing us
                </h5>
            </div>
        <form method="post" action="{% url 'becomeDealer' %}">
            {% csrf_token %}
            <div class="input-section">
                <div class="input-sp">
                    <input class="input" id="name" name="name" placeholder="Enter Your Name" type="text" autocomplete="off">
                </div>
            </div>
            <div class="input-section mt-2">
                <div class="input-sp">
                    <input class="input" id="email" name="email" placeholder="Enter Your Email" type="text" autocomplete="off">
                </div>
            </div>
            <div class="input-section mt-2">
                <div class="input-sp">
                    <input class="input" id="contact_number" name="contact_number" placeholder="Enter Your Contact Number" type="text" autocomplete="off">
                </div>
            </div>
            <div class="input-section mt-2">
                <div class="input-sp">
                    <input class="input" id="business" name="business" placeholder="Current Business" type="text" autocomplete="off">
                </div>
            </div>
            <div class="input-section mt-2">
                <div class="input-sp">
                    <textarea class="input  pb-5" id="address" name="address" placeholder="Enter Your Address" autocomplete="off"></textarea>
                </div>
            </div>
            <div class="input-sp mt-1">
                    <select id="statesDropdown" id="state" name="state" style="color:gray;" autocomplete="off">
                        <option class="option" value=" ">SELECT STATE</option>
                    </select>
            </div>
            <div class="input-sp mt-2">
                <select id="districtsDropdown" id="district" name="district" style="color:gray;" autocomplete="off">
                    <option value="">SELECT DISTRICT</option>
                </select>
            </div>
   

            <div class="d-flex justify-content-center mt-3">
                <button class="submit-delers">Submit</button>
            </div>
        </form>

        </div>
    </div>
</section>

<script src="{% static 'js/states_and_districts.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        setTimeout(function() {
            const alertBox = document.querySelector('.alert');
            if (alertBox) {
                alertBox.classList.add('alert-hide');
                setTimeout(function() {
                    alertBox.style.display = 'none';
                }, 500); // Match this with the slideUp animation duration
            }
        }, 4000); // 4 seconds
    });
</script>


{% endblock %}